// .post-it-note {
//    width: 20%;
//    min-width: 13em;
//  }
//  .post-it-note p {
//    font-family: helvetica;
//    font-size: 1em;
//    font-weight: bold;
//  }
 
//  .post-it-note {
//     padding: 2em;
//     background: rgb(255,215,7);
//     position: absolute;
//     max-height: 10em;
//  }
//  .post-it-note:after {
//     content: "";
//     position: absolute;
//     bottom: -2em;
//     left: 0;
//     right: 2em;
//     border-width: 1em;
//     border-style: solid;
//     border-color: rgb(255,215,7);
//  }
//  .post-it-note:before {
//     content: "";
//     position: absolute;
//     bottom: -2em;
//     right: 0;
//     border-width: 2em 2em 0 0;
//     border-style: solid;
//     border-color: darken(rgb(255,215,7), 10%) transparent;
//  }

 .contenaire{
    position: relative;
 }


 textarea{
    resize: none;
    overflow: auto;
    background-color: rgb(255,215,7);
    border: none;
    font-weight: bold;
 }

#div1{
   width: 350px;
   height: 70px;
}

.add{
   padding:10px;
   width: 50px;
   height:50px;
   border-radius:100%;
   background-color:#ffd707;
   position: absolute;
   right: 2%;
   
   
   p{
     font-size:30px;
     font-weight:900;
     margin: 0 0 0px 8px;
   }
 }



.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
 }
 .overlay:target {
   visibility: visible;
   opacity: 1;
 }
 
 .popup {
   margin: 70px auto;
   padding: 20px;
   background: #fff;
   border-radius: 5px;
   width: 30%;
   position: relative;
   transition: all 5s ease-in-out;
 }
 
 .popup .close {
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
 }
 .popup .close:hover {
   color: #ffd707;
 }
 .popup .content {
   max-height: 30%;
   overflow: auto;
 }

 .edit{
   padding-right: 40px;
 }
 
 
 @media screen and (max-width: 700px){
   .box{
     width: 70%;
   }
   .popup{
     width: 70%;
   }
 }